
#section1{
    background-image: url(../img/web1.jfif);
    background-size: cover;
    background-position: 70% 30%;
    padding: 50px 150px;
   
}
#section2{
    background-color: beige;
    background-size: contain;
    background-repeat: repeat;
    padding: 50px 150px 100px;  
    
}

h2{
    text-align: center;
    color: white;
    padding-top: 30px;
}

#section1 p{
    color: white;
    text-transform: capitalize;
    padding: 20px 50px 30px;
    font-size: 20px;
    border-style: double;
    border-width: 5px;
    border-radius: 30%;
}
h3{
    text-align: right;
    color: black;
    padding-bottom: 30px;
}

h6{
    color: lightslategray;
    padding-top: 40px;
}

#section2 p{
    color: grey;
    padding: 40px 30px;
   
}
#section2 h2{
    color:grey;
    padding-bottom: 50px;
}

.mepic{

    border-style: double;
    border-width: 7px;
    border-color:#ffc107;
    border-radius: 50%;
   
}
.webs:hover{
    transform: scale(1.2);
}

   .navbar ul li {
    display: flex;
    padding: 0px 8px 0px;
    white-space: nowrap;
  } 
  
  .navbar ul li:hover {
    background-color: black;
    opacity: 0.8;
  }
  
  .navbar ul li a {
    text-align: center;
    text-decoration: none;
    display: block;
    color: black
  }

  .navbar-dark .navbar-nav .nav-link{
      color: white;
  }
  
  .bg-dark {
    background-color:#ffc107!important;
}

  #footer .container-fluid{
      width: 60%;
  }

  footer {
    padding: 20px 100px;
    background-image: url(../img/background5.jfif);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffc107;

}

footer:hover{
    opacity: 0.9;
}

.btn-light{
    color: black;
    font-size: 15px;
}


